<ion-content class="terminos-page" fullscreen>
  <div class="paciente-curva-header">
    <div class="header-container">
      <ion-icon name="arrow-back-outline" class="icono-back" (click)="volver()"></ion-icon>
      <h1 class="titulo">InnovaPharm</h1>
    </div>
    <div class="curva-blanca"></div>
  </div>

  <div class="contenido-centro">
    <ion-icon name="document-text-outline" class="icono-documento"></ion-icon>
    <h2 class="subtitulo">Términos de Uso</h2>

      <p class="texto">
        <strong>1. Finalidad del servicio:</strong>
        Esta aplicación ha sido desarrollada exclusivamente para pacientes del <strong>Consultorio Raúl Brañes</strong>, con el objetivo de facilitar el acceso digital a las recetas médicas emitidas por profesionales de salud del centro.
      </p>

      <p class="texto">
        <strong>2. Uso personal e intransferible:</strong>
        La información mostrada en la aplicación, incluyendo recetas médicas, es de carácter personal y confidencial. Está destinada únicamente al paciente titular y no debe ser compartida con terceros.
      </p>

      <p class="texto">
        <strong>3. Responsabilidad del usuario:</strong>
        El paciente se compromete a utilizar esta aplicación de manera responsable, respetando las indicaciones médicas. El uso indebido de la información o su alteración está estrictamente prohibido.
      </p>

      <p class="texto">
        <strong>4. Limitaciones del servicio:</strong>
        La aplicación es un medio de visualización. No reemplaza la consulta médica presencial ni constituye un diagnóstico. Ante cualquier duda sobre su tratamiento, deberá acudir al profesional correspondiente.
      </p>

      <p class="texto">
        <strong>5. Privacidad y protección de datos:</strong>
        La aplicación almacena y muestra datos médicos sensibles. Estos datos están protegidos conforme a la legislación vigente en materia de privacidad. No se compartirán con terceros sin consentimiento explícito del paciente.
      </p>

      <p class="texto">
        <strong>6. Modificaciones:</strong>
        El Consultorio Raúl Brañes se reserva el derecho de modificar estos Términos de Uso en cualquier momento. El uso continuado de la aplicación implica la aceptación de dichas modificaciones.
      </p>
  </div>
</ion-content>
