<ion-tabs>
  <ion-tab-bar slot="bottom" class="paciente-tab-bar">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recetas">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Historial recetas</ion-label>
    </ion-tab-button>

     <ion-tab-button tab="ajustes">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
