:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

ion-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.codigo-wrapper {
  text-align: center;
}

.codigo-inputs {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 20px 0;
}

.cuadro-codigo {
  width: 70px;
  height: 70px;
  text-align: center;
  font-size: 24px;
  border: 2px solid #ccc;
  border-radius: 16px;
}
